@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SplineSans"; /*Can be any text*/
  src: local("SplineSans"),
    url("./assets/fonts/SplineSans-Bold.ttf") format("truetype");
  src: local("SplineSans"),
    url("./assets/fonts/SplineSans-Light.ttf") format("truetype");
  src: local("SplineSans"),
    url("./assets/fonts/SplineSans-Medium.ttf") format("truetype");
  src: local("SplineSans"),
    url("./assets/fonts/SplineSans-Regular.ttf") format("ttf");
  src: local("SplineSans"),
    url("./assets/fonts/SplineSans-SemiBold.ttf") format("truetype");
}

.bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(3, 55, 77, 0.4) 0%,
    rgba(3, 55, 77, 0) 75%
  );
}
