@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MartelSans";
  src: url("./assets/fonts/MartelSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

.bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(3, 55, 77, 0.4) 0%,
    rgba(3, 55, 77, 0) 75%
  );
}
